<%- include('partials/header') -%>

<div class="401 jumbotron text-center">
    <h1 class="display-3">401</h1>

    <p>Sorry, you are not authorized to view this page.</p>

    <a class="btn btn-dark btn-lg" href="/login">Back to Login</a>
</div>

<%- include('partials/footer') -%>